<!DOCTYPE html>
<html>
    <head>
        <title>Blog</title>
        <style>
            .container{
                width: 50%;
                margin: auto;
                justify-content: center;
                align-items: center;
                text-align: center;
                background-color: rgb(163, 157, 157);
            }
            .content{
               
                width: 90%;
                height: 150px;
                margin: 5% 5%;
                padding: 12px 20px;
                box-sizing: border-box;
                border: 2px solid #918585;
                border-radius: 4px;
                background-color: #ffffff;
                font-size: 16px;
                resize: none;
                
            }
            .title{
                margin-left: 5%;
                padding: 12px 20px;
                width: 85%;
            }
            .button {
                background-color: rgb(88, 221, 132); 
                border: none;
                color: black;
                padding: 15px 32px;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin-bottom: 5%;
            }
        </style>
    </head>
    <body style="background-color: aquamarine;">
        <form action="/blog" method="post" >
            <div class="container">
                <input class="title" name="title" type="text" placeholder="Title" style="display: block;">
                <textarea class="content" name="content" id="" placeholder="Write here..."></textarea>
                <button class="button" type="submit">Publish Post</button>
            </div>
        </form>
       
    </body>
</html>